:root{
    --bold-1:#38023B;
    --bol-2:#C879FF;
    --neutral-1:#F6EFEE;
    --neutral-2:#F9DBBD;
    --shouting-clr:#7F9183;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* index styling begins here */
.link-remove{
    text-decoration: none;
}
.headings{
    font-size: 40px;
}
.package-image{
    width: 100%;
    height: 150px;
}
.package-details-image{
    width: 100%;
    height: 350px;
}
.view{
  background-color: var(--bold-1) ; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
/* index styling ends  here */

/* package details */
.errorWrap {
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 4px solid #dd3d36;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.succWrap{
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 4px solid #5cb85c;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
/* package details */

/* top section */
.font-5{
    font-weight: 500;
}
.font-6{
    font-weight: 600;
}
.login-nav-left > ul > li >a{
    text-decoration: none;
    font-weight: 500;
    color: var(--bold-1);
}
.two-sections{
    margin-top: 10px;
}
.login-nav-left > ul > li{
    margin-left: 10px;
}
.enquiry-link{
    color: black;
}
.admin-toll{
    background-color: var(--bol-2);
}
.admin-link{
    color: var(--neutral-1);
}
.title{
    background-color: var(--neutral-2);
}
.heading{
    color: var(--bold-1);
}
.navbar-styling{
    background-color: var(--neutral-1);
}
.nav-link{
    color: var(--bol-2);
}
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}
/* top section */

/* footer styling begins here */
.footer{
    background-color: var(--bol-2);
}
.social-ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
/* footer styling ends here */

/* enquiry styling begins here */
.enquiry{
    margin-top: 1rem;
    border: 1px solid black;
}

/* enquiry styling ends here */
